html
	head
		script(src = "/socket.io/socket.io.js")
		script(src = "publics/scripts/jquery.min.js")
	body
		input(type = "button",id = "lmao",value = "click me")
		script(src = "publics/scripts/socket.js")
		button(id = "red") red
		button(id = "green") green
		button(id = "blue") blue
